<div class="container">
	<div id="list">
		<ul>
			<li *ngFor="let image of images; let i = index" (click)="selected = i">
				{{image.description}}
			</li>
		</ul>
	</div>
	<div id="img-container">
		<img src="{{images[selected].url}}">
	</div>
</div>